.footer {
  // background-image: linear-gradient(
  //   to top,
  //   #2f1c16,
  //   #4a2316,
  //   #652b14,
  //   #803310,
  //   #9c3b06
  // );
  background-image: linear-gradient(
    to top,
    #ff435b,
    #ff5355,
    #ff6150,
    #ff6e4d,
    #ff7b4a
  );
  color: #ffffff;
  padding: 0.5rem 1rem;
  min-height: 4rem;
  .social-icons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 400px) {
      flex-direction: column;
    }
  }
  .address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    i {
      font-size: 1.2rem;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    i {
      border: 1px solid;
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      justify-content: center;
    }
  }
}
