<footer class="footer">
  <div class="address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p>Address: North Kaneshie, Oseble Street</p>
  </div>
  <div class="social-icons">
    <div class="icon contact">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>0553355038 / 0249702696</p>
    </div>
    <div class="icon whatsapp">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <p>0267491008</p>
    </div>
    <div class="icon facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <p>@gob3Friday</p>
    </div>
    <div class="icon instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <p>@gob3Friday</p>
    </div>
    <div class="icon email">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p>gob3friday@gmail.com</p>
    </div>
  </div>
</footer>
